body {
  background-color: rgb(79, 79, 87);
  text-align: center;
}
 body *{
    color: white;
 }

 .wrapper{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items:center ;
    font-family: 'roboto' sans-serif;
font-size: 35px;
flex-direction: column;

 }

 .wrapper input{
    width: 20vw;
    height: 35px;
    border-radius:25px;
background-color: transparent;
 }

 .wrapper input:hover{
    background-color:rgb(61, 63, 63) ;
    border: none;

 }